/* INTRO */
.section--intro {
    background-image: url(../imgs/intro/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.intro {
    height: 758px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.header-logo {
    padding: 37px 0 0 120px;
}

.navbar-btns {
    display: flex;
    align-items: center;
    padding-right: 100px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.nb-items {
    padding-right: 50px;
    text-decoration: none;
    cursor: pointer;
}

.nb-items:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 150px;
    height: 41px;


    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 3px;

    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.intro-center {
    padding: 139px;
    text-align: center;

    font-family: 'Lato';
    color: #FFFFFF;
}

.ic-title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.ic-subtitile {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
}

.ic-btns {
    padding: 37px 0 0 0;
}

.icb-booknow {
    width: 168px;
    height: 41px;

    background: #285A43;
    border-radius: 3px;
    border: none;
    cursor: pointer;

    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
}

.icb-watchvideo {
    width: 187px;
    height: 40px;
    margin-left: 13px;

    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    cursor: pointer;

    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}
/* /INTRO */

/* Products - What We Offer To You*/

.what-we-offer {
    padding-top: 120px;
    font-family: 'Lato';
}

.wwo-title {
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #285A43;

    padding-bottom: 35px;
}

.wwo-products-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    padding: 0 120px 120px 120px;
    justify-content: center;
}

.wwop-item {
    display: block;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.02);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: rgb(255, 255, 255);
    width: 280px;

    border-radius: 10px 10px 10px 10px;
    margin-right: 27px;
    margin-bottom: 25px;

    font-family: 'Lato';
}

.wwop-i-img {
    border-radius: 10px 10px 0 0;
    width: 280px;
    height: 250px;
}

/* .wwop-i-favourite {
    position: relative;
    bottom: 235px;
    left: 233px;
} */
/* <img class="wwop-i-favourite" src="imgs/products/Love0.png"> */

.wwop-i-title {
    padding: 10px 0 5px 24px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 140%;
    color: #337A5B;
}

.wwop-i-underTitle {
    display: flex;
}

.wwop-i-oldCost {
    padding: 0 7px 10px 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #121212;
    opacity: 0.5;

    text-decoration-line: line-through;
}

.wwop-i-cost {
    padding: 0 0 10px 0;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
}

.wwop-i-buynow {
    position: relative;
    bottom: 13px;
    left: 86px;
    width: 98px;
    height: 33px;

    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid rgba(51, 122, 91, 0.6);
    cursor: pointer;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 140%;

    color: #337A5B;
    
    transition: background 0.3s linear;
}

.wwop-i-buynow:hover {
    color: #FFFFFF;
    background-color: #337A5B;
}

/* /Products - What We Offer To You*/

/* gallery */

.ourgallery {
    margin: 0 auto;
    padding-top: 120px;
}    

.og-title {
    text-align: center;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #285A43;

    padding-bottom: 35px;
    
}

.ourgallery-images {
    display: flex;
}

.og-i-row1,
.og-i-row2 {padding-right: 10px;}
.og-i-rowTop {padding-bottom: 6px;}

/* ./gallery */

/* Subscribe Mailing */

.section--subscribeMailing {
    background-image: url(../imgs/subscribemailing/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
 
.subscribeMailing {
    display: flex;
    height: 400px;
    justify-content: space-between;
}

.subscribeMailing-title {
    /* padding: 128px 24px 128px 101px; */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;

    padding: 128px 87px 128px 100px;
}

.subMailing-i-email {
    width: 475px;
    height: 48px;

    background: rgba(217, 217, 217, 0.03);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2.5px);
    border-radius: 5px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;


    color: #FFFFFF;

    padding-left: 25px;
    margin: 152px 25px 200px 0;
}

.subMailing-i-submit {
    width: 145px;
    height: 48px;

    background: #285A43;
    backdrop-filter: blur(2.5px);
    border-radius: 5px;
    border: none;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    
    margin: 152px 100px 200px 0;
}

/* ./Subscribe Mailing */

/* footer */

.section--footer {
    background-image: url(../imgs/footer/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer {
    height: 374px;

    color: #FFFFFF;
}

.footer-title {
    padding: 75px 0 35px 0;
    text-align: center;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
}

.footer-socialLinks {
    display: flex;
    justify-content: space-between;
    margin: 0 573px 35px;
}

.footer-socL-item {cursor: pointer;}

.footer-navBar {
    display: flex;
    justify-content: space-between;
    padding: 0 395px 64px;   
}

.footer-nB-items {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

/* ./footer */